

html {
    height: 100%;
    background: linear-gradient(180deg, #444343, #000000, #444343);
    background-size: cover;  
    z-index: 5;
}

@media only screen and (max-width: 600px) {
    html {
      background: gray;
    }
  }


.tabledata {
    border: 2px solid aliceblue;
    border-collapse: collapse;
    margin-top: 40px;
    color: aliceblue;
}

.above_table {
    margin: 20px;
}

.photo_caption {
     color: aliceblue;
     margin-top: 1px;
}

.container {
    margin-top: 20px;
}

.row {
    background: gray;
}

.col-sm {
    background: white;
    height: 300px;
    width: 300px;
    margin: 20px;
    line-height: 300px;
    text-align: center;
}

th, td{
    border: 2px solid aliceblue;
    padding: 10px;
}

#top {
    margin-top: 50px;
}

#middle {
    margin-top: 50px;
    margin-left: 10px;
}

#flower {
    margin-top: 40px;
    margin-bottom: 1px;
}

h1 {
    color: aliceblue;
    margin: 10px;
}

p {
    color: aliceblue;
}

ul {
    color: aliceblue;
    margin-top: 40px;
}

li {
    padding: 10px;
}
